*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

*.iml
*.ipr
*.iws
.idea/

.vscode/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

android/local.properties
android/.gradle
android/app/build
android/key.properties
**/android/**/generated/

ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

ios/Pods/
ios/.symlinks/


lib/secrets.dart

*.keystore
*.jks

/aeroguard_agent/.idea/
/aeroguard_agent/*.iml
/aeroguard_agent/.vscode/
/aeroguard_agent/local.properties
/aeroguard_agent/.gradle/
/aeroguard_agent/build/
/aeroguard_agent/.flutter-plugins
/aeroguard_agent/.flutter-plugins-dependencies
/aeroguard_agent/.packages
/aeroguard_agent/pubspec.lock
/aeroguard_agent/.metadata
/aeroguard_agent/.dart_tool/